*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
}



.mybg{

    background-color: #0099ff;
}


.mycon{

    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(0,153,255,1) 84%);
}